html,body{
	background-color: #9ECEF6;
	background-size: 100%;
	font-family: helvetica;
	font-weight: lighter;
}
nav{
	background-color: #A2D8F1;
	height: 35px;
	margin-top: 200px;

}

nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0;
}
nav a:link, nav a:visited {
	text-decoration: none;
	color: #000099;
	margin-bottom: 20px;
	display: block;
	text-align: center;
	float:left;
	border-right: 1px solid #fff;
	padding: 10px 40px;
}

nav a:hover, nav a:active {
	text-decoration: none;
	color: #444;
	background-color: #66A1D2;
}

section#titulo{

	position:absolute;
	left: 10px;
	top: 5px;
	background: #58AAEF;
	padding: 0.7em;
	font-size: 1.7em;
	border-radius: 5px;
	width: 1200px;


}
section#formulario{
	position:absolute;
	top: 100%;
	left: 45%;
	margin-left: -200px;
	margin-top: -400px;
	width: 400px;
	min-height: 350px;
	background: #3F8FD2;
	overflow: hidden;
	border-radius: 5px;
}
h1{
    -webkit-text-fill-color: red;
    -webkit-text-stroke: 1px black;
	text-align: center;
	margin:30px; 
	float:center;
	font-size: 1.5em;

}

h2{
	font-size: 1.6em;
	text-align: center;
	margin-top: 20px;
}
input[type="text"]{
	width: 350px;
	height: 35px;
	margin-left: 20px;
	margin-top: 10px;
	padding-left: 10px;
	font-size: 1.1em;
	outline:none;
	border: 0px;
	background-color: #D0D0D0;
	border-radius: 5px;
	border:2px solid #66A1D2;


}
input[type="date"]{
	width: 350px;
	height: 35px;
	margin-left: 20px;
	margin-top: 10px;
	padding-left: 10px;
	font-size: 1.1em;
	outline:none;
	border: 0px;
	background-color: #D0D0D0;
	border-radius: 5px;
	border:2px solid #66A1D2;
}
input[type="date"]{
	width: 350px;
	height: 35px;
	margin-left: 20px;
	margin-top: 10px;
	padding-left: 10px;
	font-size: 1.1em;
	outline:none;
	border: 0px;
	background-color: #D0D0D0;
	border-radius: 5px;
	border:2px solid #66A1D2;
}
#submit1{
	position:absolute;
	top: 80%;
	left: 80%;

}

img#imagen{
	width: auto; 
	height: 100px;
	position: absolute;
	top: 18%;
	left: 3%;
}
img#imagen1{
	width: auto; 
	height: 100px;
	position: absolute;
	top: 18%;
	left: 80%;

}
div#define{
	position:absolute;
	width: 98.5%;
	top: 100%;
	left: 0%;
	margin: 10px 10px;
	background-color: #3F8FD2;

}


