#textoImg{
  margin-top: -350px;
}
.text-lighten-2{
	color: white;
	text-shadow:5px 5px 7px rgba(0,0,0,0.8);
}
#imagenCuenta{
  margin-top: 4px;
}
#imgAlerta{
  width: 60px;
}

#card1{
	width: 250px;
}
#cara1{
  margin-top: 15px; 
}
#card22{
  width: 350px;
  margin-left: 30px;
  margin-top: 20px;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
       url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
       url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
#show-hide-passwd{
  margin-left: 350px;

}
#pdf{
  width: 17px;
  margin-top: 3px;
}
#contenedor{
  /*margin-top: 20px;
  margin-left: 350px;
  border-style: solid;
  border-color: black;*/
}
.alinear{
  /*margin-top: 20px;
  margin-left: 350px;
  border-style: solid;
  border-color: black;*/
  margin-left: 200px;
  margin-right: -150px;
}
.pie, .push{
  height: 241px;
}
.pie2, .push2{
  height: 100px;
}
.pie3, .push3{
  height: 151px;
}
#fb{
  margin-top: 13px;
  width: 24px;
}
.btn2.disabled, .disabled.btn2-large, .btn2-floating.disabled, .btn2-large.disabled, .btn2:disabled, .btn2-large:disabled, .btn2-large:disabled, .btn2-floating:disabled {
  background-color: #DFDFDF;
  box-shadow: none;
  color: #fff;
  cursor: default; }

  .btn2.disabled *, .disabled.btn2-large *, .btn2-floating.disabled *, .btn2-large.disabled *, .btn2:disabled *, .btn2-large:disabled *, .btn2-large:disabled *, .btn2-floating:disabled * {
    pointer-events: none; }

  .btn2.disabled:hover, .disabled.btn2-large:hover, .btn2-floating.disabled:hover, .btn2-large.disabled:hover, .btn2:disabled:hover, .btn2-large:disabled:hover, .btn2-large:disabled:hover, .btn2-floating:disabled:hover {
    background-color: #DFDFDF;
    color: #fff; }
#nota{
  margin-top: -50px; 
}
